.auth-container {
    display: flex;
    flex-direction: column; /* top to bottom alignment*/
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%; /* Ensures it takes full width of its container, adjust as necessary */
    border: red dashed 1px;
}

.error {
    color: red;
    font-size: 20px;
}