.navbar {
    align-items: center;
    background-color: #333;
    color: whitesmoke; 
    padding: 2rem;
}

.navbar-brand {
    display: flex;
    align-items: left;
}

.navbar-appname {
    font-size: 30px;
    font-weight: 700;
}

.navbar-tagline {
    font-size: 14px;
    color: #AAA; /* Light grey color; adjust as needed */
}

.nav-link-container {
    list-style: none; /* removes bullet points */
    display: flex; /* puts items side by side */
    width: 40%;
    justify-content: space-around;
}

.nav-link-container li {
    padding-bottom: 5px;
}

.nav-link-container li a {
    color: whitesmoke; /* Sets the link color to white */
    text-decoration: none; /* Optional: removes underline from links */
}

.nav-link-container li a:hover {
    color: #ccc; /* Lighter grey color for hover effect */
    text-decoration: underline; /* adds underline on hover */
}

.navbar-profile-logout {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.navbar-profile-logout strong {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid whitesmoke;
    width: 50px;
    height: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    background-color: whitesmoke;
    color: #333;
    border-radius: 50%; /* makes circle for profile pic */
}
